<section class="main-content home">
    <header class="main-content__header">
        <h1>Hey, I'm Andrew.</h1>
    </header>
    <article class="hero">
        <p>
            I'm a front end developer and UX designer currently working at the IBM Design Studio in Austin, TX.
        </p>
        <p>
            My work focuses primarily around business analytics and finance software, where I design and develop software for anywhere from a handful of niche users, to products that attracted over a million signups in the first year as part of a multidisciplinary team.
        </p>
        <p>
            Click through some of <a href="/projects/">my recent work</a>, peruse <a href="/resume">my resume</a>, or <a href="mailto:hessand@gmail.com">get in touch.</a>
        </p>
    </article>
</section>