<section class="main-content">
    <header class="main-content__header">
        <h1>Projects</h1>
    </header>
    <article>
        <header>
            <h2>Recent Public Work</h2>
        </header>
        <div class="project-grid">
            {% for project in projects %}
            <a href="{{ project.link }}">
                <article class="project-tile">
                    <header>
                        <img src="{{ project.image }}" />
                    </header>
                    <p>
                        {{ project.title }}
                    </p>
                </article>
            </a>
            {% endfor %}
        </div>
    </article>
</section>
